aside {
    display: grid;
    gap: 1rem 1rem;
    padding: 1rem;
}

aside section {
    box-sizing: border-box;
    grid-column: span 2;
    width: 100%;
}

@media only screen and (min-width: $mq-small) {
    aside {
        grid-template-columns: repeat(4, 1fr);
    }
    aside section {
        grid-column: span 2;
    }
    aside section:only-child {
        grid-column: span 6;
    }
    aside section:nth-child(2n+1):nth-last-child(1) {
        grid-column: span 4;
    }
}

@media only screen and (min-width: $mq-medium) {
    aside {
        grid-template-columns: repeat(6, 1fr);
    }
    aside section:nth-child(2n+1):nth-last-child(1) {
        grid-column: span 2;
    }
    aside section:nth-child(3n+2):nth-last-child(1),
    aside section:nth-child(3n+1):nth-last-child(2) {
        grid-column: span 3;
    }
    aside section:nth-child(3n+4):nth-last-child(1),
    aside section:nth-child(3n+3):nth-last-child(2),
    aside section:nth-child(3n+2):nth-last-child(3),
    aside section:nth-child(3n+1):nth-last-child(4) {
        grid-column: span 3;
    }
}