/*
 * deprecated: use _wp-block-columns.scss instead
 */


/*
.wp-block-columns {
    display: grid;
    margin: 1em auto 0 auto;
    max-width: var(--max-width-container);
    padding: 0 1em;
}

.wp-block-column {
    align-self: center;
}

.wp-block-columns.has-2-columns {
    column-gap: 2%;
}

.has-2-columns {
    grid-template-columns: 49% 49%;
}

.has-3-columns {
    grid-template-columns: 32% 32% 32%;
}
*/