.edit-link {
    position: fixed;
    left: 50px;
    top: 70px;
    z-index: 999;
}

.edit-link a {
    background-color: #f3f5f6;
    border: 1px #0071a1 solid;
    border-radius: 3px;
    color: #0071a1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0.25em 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    display: block;
}

.edit-link a:hover {
    box-shadow: 0px 0px 4px 1px #08f;
}