cite {
    color: var(--paragraph-color);
}

blockquote {
    border-left: 0.25rem solid;
    font-style: italic;
    margin: 0 1.5em;
    padding-left: 5rem;
    p {
        font-size: 150%;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
    cite {
        display: block;
    }
}