/**
 * Social Media links with icon
 *
 * use HTML widget with code like: 
 * <a class="fngl-sm-tel" href="tel:+31206944495">
 * <span class="screen-reader-text">telefoon </span>(020) 6944495</a>
 */

section.widget a[class^="fngl-sm-"] {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 32px;
    display: block;
    margin: .5rem 0;
    padding: .5rem 0 .5rem 48px;
    text-decoration: none;
}

section.widget a[class^="fngl-sm-"]:hover {
    text-decoration: underline;
}

.fngl-sm-email {
    background-image: url(images/social-media/mail.svg);
}

.fngl-sm-facebook {
    background-image: url(images/social-media/facebook.svg);
}

.fngl-sm-instagram {
    background-image: url(images/social-media/instagram.svg);
}

.fngl-sm-linkedin {
    background-image: url(images/social-media/linkedin.svg);
}

.fngl-sm-rss {
    background-image: url(images/social-media/rss.svg);
}

.fngl-sm-tel {
    background-image: url(images/social-media/phone.svg);
}

.fngl-sm-twitter {
    background-image: url(images/social-media/twitter.svg);
}

.fngl-sm-youtube {
    background-image: url(images/social-media/youtube.svg);
}

.fngl-sm-googlemaps {
    background-image: url(images/social-media/googlemaps.svg);
}

.fngl-sm-cat {
    background-image: url(images/social-media/cat.svg);
}