.site-title {
    margin: .5rem 0;
    padding: 0;
}

.site-title a,
.site-title a:visited {
    color: var(--diap-color);
    font-size: 2rem;
    font-weight: 700;
}

.site-description {
    color: var(--diap-color);
}


/* make site-title and site-description invisible when there is a custom logo */

.custom-logo-link+.site-title,
.custom-logo-link+.site-title+.site-description {
    display: none;
}


/* optional creation of a hardcoded logo

h1.site-logo,
p.site-logo {
    margin: 0;
}

.site-logo img {
    height: 100px;
}

*/