:root {
    --menu-bar-bg-color: var(--primary-darker);
    --menu-item-bg-color: var(--primary-dark);
    --menu-item-bg-hover-color: var(--primary-light);
    --menu-border: var(--primary-darker);
    --menu-text-color: var(--paragraph-color);
    --menu-text-hover-color: var(--white);
    --menu-font-size: var(--fs-paragraph);
    --submenu-bg-color: var(--primary-light);
    --submenu-bg-hover-color: var(--primary-lighter);
    --submenu-font-size: var(--fs-s);
}

.main-navigation {
    background-color: var(--menu-bar-bg-color);
}

.nav-area {
    display: grid;
    border: none;
    height: auto;
    margin: 0;
    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .menu-item,
    .page_item {
        background-color: var(--menu-item-bg-color);
        display: block;
        a {
            color: var(--menu-text-color);
            font-size: var(--menu-font-size);
            text-decoration: none;
        }
        li:hover>a {
            // this declares the color of the menu text when a submenu is focused
            color: var(--menu-text-hover-color);
        }
    }
}


/*
 * Mobile menu (hamburger)
 * TODO: Consider different media-query with keyword "only"
 * @media only screen and (max-width: $mq-medium) {
 */

@media screen and (max-width: $mq-medium) {
    .main-navigation {
        display: none; // toggle this to show menu permanently
        max-width: 100vw;
    }
    .nav-area {
        .menu,
        .sub-menu,
        .children {
            margin: 0;
        }
        .menu {
            border-bottom: 1px solid var(--menu-border);
        }
        .menu-item,
        .page_item {
            border-top: 1px solid var(--menu-border);
            overflow: hidden;
            a {
                display: block;
                padding: .5rem 1rem;
            }
        }
        .menu>.menu-item:first-of-type,
        .menu>ul>.page_item:first-of-type {
            // border-top: none;
        }
        .sub-menu,
        .children {
            display: none;
            margin: 0; // crucial code
        }
        .menu-toggle {
            border: none; // undo default button styling
            border-radius: 0; // undo default button styling
            outline: none; // undo default button styling
            background-color: var(--menu-bar-bg-color);
            height: 3.5rem;
            padding: .75rem 1rem .75rem 0;
            text-align: right;
            cursor: pointer;
            z-index: 999;
            &::before {
                @include svg-icon(--hamburger, 32px, 32px);
            }
            &.activated::before {
                @include svg-icon(--cross, 32px, 32px);
            }
        }
        .sub-menu-toggle {
            background-color: transparent;
            border: none;
            outline: none;
            text-align: center;
            cursor: pointer;
            z-index: 999;
            display: inline-block;
            &::before {
                @include svg-icon(--arrow-right, 24px, 24px);
            }
            &.activated::before {
                @include svg-icon(--arrow-down, 24px, 24px);
            }
        }
        .sub-menu,
        .children {
            .sub-menu-toggle {
                padding: 0 .5rem 0 0;
            }
        }
        .menu-item-has-children,
        .page_item_has_children {
            display: grid;
            grid-template-rows: auto auto;
            /* code for sub-menu arrow on right 
                grid-template-columns: 1rem 1fr auto;
                grid-template-areas: "anchor anchor button" ". sub-menu sub-menu";
            */
            /* code for sub-menu arrow on left */
            grid-template-columns: auto 1fr 1fr;
            grid-template-areas: "button anchor anchor" ". sub-menu sub-menu";
            a {
                // padding-left: 0; // use for sub-menu arrow on left 
                grid-area: anchor;
            }
            button {
                grid-area: button;
            }
            .sub-menu,
            .children {
                grid-area: sub-menu;
                max-width: 100vw;
                overflow: hidden;
            }
        }
    }
} // end of Mobile menu media-query

/* Desktop menu */

@media only screen and (min-width: $mq-medium) {
    .nav-area {
        .menu-toggle,
        .sub-menu-toggle {
            display: none;
        }
        .menu {
            margin: 0 auto;
            max-width: var(--max-width-container);
        }
        .menu>.menu-item,
        .menu>ul>.page_item {
            display: inline-block;
        }
        .menu-item,
        .page_item {
            a {
                display: inline-block;
                padding: .5em 1em .5em 1em;
            }
        }
        .menu-item,
        .page_item {
            a:hover,
            a:active &:hover {
                background-color: var(--menu-item-bg-hover-color);
                color: var(--menu-text-hover-color) !important;
            }
        }
        .menu>.menu-item-has-children,
        .menu>ul>.page_item_has_children {
            &>a::after {
                @include svg-icon(--arrow-down, 14px, 14px);
                margin-left: .25rem;
                margin-bottom: -2px;
            }
            &:hover>.sub-menu,
            &:hover>.children {
                background: var(--menu-item-bg-hover-color);
                display: block;
                margin-left: 0;
                position: absolute;
                width: 250px;
                border-bottom: 1px solid var(--menu-border);
                z-index: 2;
            }
        }
        .sub-menu,
        .children {
            display: none;
            a {
                color: var(--paragraph-color);
                font-size: var(--submenu-font-size);
                padding: .5em 1em .5em 1em;
            }
            .menu-item,
            .page_item,
            .sub-menu,
            .children {
                background-color: var(--submenu-bg-color);
                display: block;
                border-top: 1px solid var(--menu-border);
            }
            .menu-item,
            .page_item {
                &:first-of-type {
                    border-top: none;
                }
                a:hover,
                a:active {
                    background-color: var(--submenu-bg-hover-color);
                    color: var(--menu-text-color-hover);
                }
            }
        }
    }
}