/**
 * Variables found in Gutenberg blocks 
 *
 * @checked with version WordPress 5.7
 * @checked with version WordPress 5.8.1
 */

:root {
    --has-background-padding: 1.25rem 2.375rem; // used in _has-background.scss and _wp-block-columns.scss
    --wp-block-button-color: #32373c; // used in _wp-block-button.scss
    --wp-block-author-date: #555; // used in _wp-block-latest-posts.scss and _wp-block-rss.scss
    --wp-block-search-border: #949494; // used in _wp-block-search.scss
}
