/**
 * Calendar block
 *
 * @checked with version WordPress 5.7
 */

.wp-block-calendar {
    text-align: center
}

.wp-block-calendar tbody td,
.wp-block-calendar th {
    padding: .25em;
    border: 1px solid var(--wp-block-calendar-color)
}

.wp-block-calendar tfoot td {
    border: none
}

.wp-block-calendar table {
    width: 100%;
    border-collapse: collapse
}

.wp-block-calendar table th {
    font-weight: 400;
    background: var(--wp-block-calendar-color);
}

.wp-block-calendar a {
    text-decoration: underline
}

.wp-block-calendar table caption,
.wp-block-calendar table tbody {
    color: var(--wp-block-calendar-text);
}