/**
 * Featured image block
 *
 * @since WordPress 5.6
 * @since WordPress 5.7 CSS provided
 * @checked with version WordPress 5.7
 *
 */

.wp-block-post-featured-image a {
    display: inline-block;
}

.wp-block-post-featured-image img {
    max-width: 100%;
    height: auto;
}