/**
 * Featured image block
 *
 * @since WordPress 5.6
 * @since WordPress 5.7 CSS provided
 * @checked with version WordPress 5.7
 *
 */

.wp-block-post-featured-image {
    margin-left: 0;
    margin-right: 0;
}
.wp-block-post-featured-image a {
    display: inline-block;
}
.wp-block-post-featured-image img {
    max-width: 100%;
    height: auto;
}
.wp-block-post-featured-image.alignwide img,
.wp-block-post-featured-image.alignfull img {
    width: 100%;
}
