/**
 * Tag cloud block
 *
 * @since WordPress 5.7
 * @checked with version WordPress 5.8.1
 */

.wp-block-tag-cloud.aligncenter {
    text-align: center;
}

.wp-block-tag-cloud.alignfull {
    padding-left: 1em;
    padding-right: 1em;
}
